/* 
* Sections:
* 
*  Landing Page:
*   1. Header & Navbar stylings.
*   2. Core page content
*       -> Left aside HR Box.
*       -> Right aside table navigation
* 
*  Base Table pages:
*   1. Header & Navbar stylings <= covered by landing page
*   2. Core page content stylings.
*   3. Left and right asides stylings.
*   4. Table stylings.
*   5. Page footer styling.
*/


/*
* 
* 1. Stylings for header and navbar:
* 
*/

/* 
* Header:
*   - Will change content to an image with a header as meme
*/
#brand{
    height: auto;
    width: 100%;
    padding-top: 10px;
    /*background-color: khaki;*/
    margin: auto;
    position: relative;
}

#brand h1{
    position: absolute;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    top: 405px;
    left: 10px;
}

/* 
* Navigation bar:
*   - Text as header
*   - Want a hover styling
*/
.banner {
    float:left;
    /* background-color: #758CAC; */
    background-color: #009999;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
}


/* Style the navigation list & items */
.banner ul{
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    width: 35%;
}

.banner ul li{
    float:left;
    padding: 0px 25px;
    border-right: 2px solid black;
}

/* Drop border from the last list element*/
.banner ul li:last-child{
    border-right: none;
}

/* Style hovering on list items */
.banner ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 40px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}
.banner ul li a:hover{
    font-size: 125%;
}


/*
* 
* Landing Page Content Section:
*
*   - Need padding etc
*   - Check background colors
* 
*/

/* Section stylings */
.LandingPage{
    position: relative;
    width: 55%;
    margin: auto;
    /*border: #2EB2F7 ridge 5px;*/
    clear: both;
    padding-top: 40px;
    padding-bottom: 50px;
    border-left: 3px solid black;
}


/* Right aside article boxes */
.LandingPage #tableBox{
    position: absolute;
    margin-top: 30px;
    /*border: rgba(0, 119, 255, 0.747) ridge 5px;*/
    border-radius: 5px;
    margin-right: 15px;
}

.tableLink{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    margin: auto;
    padding-bottom: 15px;
}
.tableLink:hover{
    font-size: 115%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#table2, #table3{
    padding-top: 10px;
}

/*
* 
* 2. Section holding main content
*
*/

/* Content section */
#contentDiv{

    /* background-color: cornflowerblue; */
    clear: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
}



/*
* 
* 3. Style the asides
*   - Left aside moves to other tables
*       => Ideally a click box actives it moving out from the left
* 
*   - Rigth aside table documentation
*       => Ideally a click box actives it moving out from the right
*/

/* Style left aside */
#leftAside{
	float: left;
	position: relative;
	top: 0px;
    height: 500px;
    width: 14%;
    padding-top: 0px;
    border: black solid 2px;
}

/* Style database navigation list */
#dbNav{
    clear: left;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 0px;
    width: 100%;
    top: 10%;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
}
#dbNav li{
    border-bottom: 2px solid black;
    padding: 20px 0px;
    text-align: center;
}
#dbNav li:first-child{
    border-top: 2px solid black;
}

#dbNav li:hover{
    font-size: 145%;
}
#dbNav li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*
*
* 4. Table Stylings 
*
*
*/

/* Reset table stylings */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Overflow and margin */
#tableDiv{
    height: 500px;
    width: 85%;
    overflow: auto;
    display: inline-block;
}

.myTable {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

#title td{
    font-size: 150%;
    background: #004C99;
}


/* Style table data */
.myTable td {
    border: 1px solid black;
    padding: 8px;
}

/* Make header sticky */
.myTable #colHead{
    position: sticky;
    top: 0;
    font-size: 125%;
    background-color: #009999;
    opacity: 0.8;
}

/* Style even rows from table, and highlight on hover */

#tableBody tr:nth-child(even) {
    background-color: lightsteelblue;
}
#tableBody tr:hover{
    /*background-color: lightsteelblue;*/
    font-size: 125%;
}

/* Style title, col header and footer */
.myTable thead,tfoot{
    font-weight: bold;
}

.myTable tfoot:hover,#title:hover,#colHead:hover{
    /*background-color: lightyellow;*/
    font-size: 125%;
}


/*
* 
* 5. Page footer
* 
*/
.footer{
    clear: both;
    position: relative;
    width: 100%;
    height: 100px;
    background-color:#004C99;
    margin-top: 10px;
}
.footer div{
    position: absolute;
    height: auto;
    width: 100%;
    top: 25%;
    margin-left: 35%;
    margin-right: 25%;
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;
}