/* 
* Sections:
* 
*  Landing Page:
*   1. Header & Navbar stylings.
*   2. Core page content
* 
*  Base Table pages:
*   3. Core page content stylings.
*   4. Left aside nav bar.
*   5. Table stylings.
*   6. Page footer styling.
*/


/*
* 
* 1. Stylings for navbar
* 
*/

/* 
* Navigation bar:
*   - Text as header
*   - Want a hover styling
*/
.banner {
    /* background-color: #758CAC; */
    background-color: #009999;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    display: inline-block;
}

/* Style the navigation list & items */
.banner ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.banner ul li{
    display: inline-block;
    padding: 0px 25px;
    border-right: 2px solid black;
}

/* Drop border from the last list element*/
.banner ul li:last-child{
    border-right: none;
}

/* Style hovering on list items */
.banner ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 40px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    display: block;
}
.banner ul li a:hover{
    font-size: 125%;
}


/*
* 
* 2. Landing page content
*
*/

/* Section stylings */
.LandingPage{
    position: relative;
    width: 55%;
    margin: auto;
    /*border: #2EB2F7 ridge 5px;*/
    clear: both;
    padding-top: 40px;
    padding-bottom: 50px;
    border-left: 3px solid black;
}


/* Right aside article boxes */
.LandingPage #tableBox{
    position: absolute;
    margin-top: 30px;
    /*border: rgba(0, 119, 255, 0.747) ridge 5px;*/
    border-radius: 5px;
    margin-right: 15px;
}

.tableLink{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    margin: auto;
    padding-bottom: 15px;
}
.tableLink:hover{
    font-size: 115%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#table2, #table3{
    padding-top: 10px;
}


/*
* 
* 3. Section holding main content
*
*/

/* Content section */
#contentDiv{

    /* background-color: cornflowerblue; */
    clear: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
}


/*
* 
* 4. Left aside navbar
*/

/* Style left aside */
#leftAside{
	float: left;
	position: relative;
	top: 0px;
    height: 500px;
    width: 12%;
    padding-top: 0px;
    border: black solid 2px;
}

/* Style database navigation list */
#dbNav{
    clear: left;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 0px;
    width: 100%;
    top: 14%;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
}
#dbNav li{
    border-bottom: 2px solid black;
    padding: 20px 0px;
    text-align: center;
}
#dbNav li:first-child{
    border-top: 2px solid black;
}

#dbNav li:hover{
    font-size: 145%;
}
#dbNav li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/*
*
* 5. Table Stylings 
*
*/

/* Reset table stylings */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Style primary and secondary key images */
.PrimaryKey{
    width: 15px;
}
.SecondaryKey{
    width: 15px;
}

/* Overflow and margin */
#tableDiv{
    height: 500px;
    width: 85%;
    overflow: auto;
    display: inline-block;
	padding-left: 10px;
}

.DatabaseTables {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

#title td{
    font-size: 27px;
    background: #004C99;
}

.DatabaseTables thead{
    font-weight: bold;
}


/* Style table data */
.DatabaseTables td {
    border: 1px solid black;
    padding: 8px;
    width: 6%;
}

/* Make header sticky */
.DatabaseTables #colHead{
    position: sticky;
    top: 0;
    font-size: 20px;
    background-color: #009999;
    opacity: 0.9;
}


/* Style even rows from table, and text size on hover */
#tableBody {
	font-size: 16px;
}
#tableBody tr:nth-child(even) {
    background-color: lightsteelblue;
}
#tableBody tr:hover{
    /*background-color: lightsteelblue;*/
    font-size: 125%;
    font-weight: bold;
}


/*
* 
* 6. Page footer
* 
*/
.footer{
    clear: both;
    position: relative;
    width: 100%;
    height: 100px;
    background-color:#004C99;
    margin-top: 20px;
}
.footer div{
    position: absolute;
    width: 100%;
    top: 25%;
    margin-left: 37%;
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;
}
